/** @format */

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
}

#main {
	min-height: 100vh;
	width: 100%;
	background-color: grey;
	overflow: hidden;
}
/* nav1 */
#main #nav1 {
	background-color: #fff;
	height: 8vh;
	width: 100%;
	padding: 2vw 2vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* background-color: aqua; */
}
#nav1 h1 {
	font-family: Helvetica, sans-serif;
	font-weight: 700;
	color: #1877f2;
	font-size: 7vw;
}
#nav1 #icon1 {
	display: flex;
	align-items: center;
	gap: 3vw;
	justify-content: space-evenly;
}
#nav1 #icon1 .cir1 {
	height: 9vw;
	width: 9vw;
	background-color: rgb(188, 178, 178);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* nav2 */
#main #nav2 {
	background-color: #fff;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 6vw 1vw;
	width: 100%;
	font-size: 8vw;
	box-shadow: 2px 3px 6px -6px black;
	/* height: 8vh; */
	/* background-color: aquamarine; */
}
#nav2 i:hover {
	color: #1877f2;
}
/* action tab */
#main #action {
	height: 13vh;
	background-color: #fff;
	width: 100%;
	padding: 4vw 6vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: #1877f2; */
}
#action #cir2 {
	height: 11vw;
	width: 11vw;
	background-color: rgb(188, 178, 178);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
	background-image: url(https://images.unsplash.com/photo-1577880216142-8549e9488dad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}
#action input {
	width: 65%;
	height: 10vw;
	border-radius: 8vw;
	border: none;
	background-color: rgb(223, 206, 206);
}
#action input::placeholder {
	padding: 1vw 3vw;
}

#action #media {
	width: 10%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 1vw;
}
#media i {
	font-size: 10vw;
}
#media p {
	font-size: 6vw;
}
/* stories div */
#main #storiyan {
	background-color: #fff;
	height: 40vh;
	width: 100%;
	padding: 4vw 3vw;
	overflow-x: scroll;
	overflow-y: hidden;
	/* display: flex;
	align-items: center;
	justify-content: space-evenly; */
	white-space: nowrap;
	box-shadow: 0px 11px 8px -10px #ccc, 0px -11px 8px -10px #ccc;
	margin-bottom: 2vw;
}
#main #storiyan::-webkit-scrollbar {
	display: none;
}
#storiyan .col1 {
	width: calc(100% / 2.4);
	height: 100%;
	display: inline-block;
	background-color: blueviolet;
	margin: 0 1vw;
	border-radius: 5.3vw;
	background-size: cover;
	background-position: center;
	background-image: url(https://images.unsplash.com/photo-1542178432-52211bc52073?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
}

/* #frndlst .col1:nth-child(1) #overlay {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
} */
/* #frndlst .col1:nth-child(1) #overlay #t1 {
	height: 50%;
	width: 100%;
	/* background-size: cover; */
/* background-position: center; */
/* background-image: url(https://images.unsplash.com/photo-1542178432-52211bc52073?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80); 
} 
 #frndlst .col1:nth-child(1) #overlay #b1 {
	height: 50%;
	width: 100%;
} */

/* home div styling  */

#main #home {
	height: 80vh;
	width: 100%;
	background-color: #fff;
	margin-bottom: 2vw;
}

#home #post {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 1.5vw;
	padding: 2vw 2vw;
	align-items: center;
}
#home #post .info {
	height: 25%;
	width: 100%;
	/* background-color: rgb(22, 222, 155); */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.info #li {
	height: 100%;
	width: 60%;
	/* background-color: brown; */
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7vw;
}
.info #li #cir3 {
	height: 12vw;
	width: 12vw;
	background-color: aqua;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-image: url(https://images.unsplash.com/photo-1577880216142-8549e9488dad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}
#li #title {
	height: 100%;
	width: 70%;
	display: flex;
	flex-direction: column;
	row-gap: 1vw;
	align-items: flex-start;
	justify-content: center;
}
.info #li #title h2 {
	font-size: 7.4vw;
	font-weight: 700;
}
.info #li #title p {
	font-size: 4.4vw;
	font-weight: 400;
}
.info #ri {
	height: 100%;
	width: 30%;
	/* background-color: blue; */
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-size: 8vw;
}
#post #detail {
	height: 17%;
	width: 100%;
	padding: 1vw 2vw;
	/* background-color: aqua; */
	font-size: 5vw;
}
#detail p:nth-child(1) {
	margin-bottom: 7vw;
}
#detail p:nth-child(2) span {
	opacity: 0.6;
}
#post #pic {
	height: 58%;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-image: url(https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}
